flask-tutorial/blueprint/__pycache__/*
airflow_tutorial/venv/*
elk/.vagrant/*
logging_tutorial/.idea/*
logging_tutorial/logs.log
.Rhistory
.RData
*.pdf
*.aux
*.bbl
*.blg
*.docx
*.fdb_latexmk
*.fls
*.log
*.gz
*.tex
*.sty
*.csv
public/*
content/post/*html
static/rmarkdown-libs/*
static/post/*
static/ggplot2_files
static/hadoop
static/header-slides
static/nls_files
static/rmarkdown-libs
static/tidyverse_files
content/*.html
