# extensions
hugo/*.pdf
hugo/*.aux
hugo/*.bbl
hugo/*.blg
hugo/*.docx
hugo/*.fdb_latexmk
hugo/*.fls
hugo/*.log
hugo/*.gz
hugo/*.tex
hugo/*.sty
hugo/*.pyc

# folders
hugo/public
hugo/static/*/*
hugo/static/*/*/*
venv
__pycache__
files_from_vagrant1
datasets
hugo/content/*.html
hugo/content/*.csv
hugo/scratchpad/*.csv
hugo/scratchpad/*/*.csv

# other
creds.json
tags
.vagrant
.idea
.Rhistory
.RData
tf_logs
py_tests.py
r_tests.R

# django
env.sh
.idea
__pycache__
