# extensions
*.pdf
*.aux
*.bbl
*.blg
*.docx
*.fdb_latexmk
*.fls
*.log
*.gz
*.tex
*.sty
*.csv
*.html
*.pyc

# folders
public
static/*/*
venv
__pycache__
files_from_vagrant1

# other
creds.json
tags
.vagrant
.idea
.Rhistory
.RData
tf_logs
