{{ partial "head.html" . }}
{{ partial "header.html" . }}

<!-- BODY -->
<div class="container" style="margin-top:30px">

  <div class="row">

    <div id="div-about" class="col-lg-4 col-md-12 col-sm-12 col-xs-12">

      <div class="list-div">

        <h2>About me</h2>

        A regular everyday data scientist who's trying to manifest his hipsterity by coding in vim.

      </div>

      <div id="div-categories" class="list-div">
        <h3>
          <object type="image/svg+xml" data="/folder.svg" height="20px" width="20px">.</object> 
          Categories
        </h3>
        <ul class="nav nav-pills flex-column">
        {{ range $name, $taxonomy := .Site.Taxonomies.categories }}
          {{ with $.Site.GetPage (printf "/categories/%s" $name) }}
            <li>
              <a href="{{ .Permalink }}">
                {{ if eq $name "scratchpad" }}
                  <font style="color: gray;"> {{ $name }} &emsp;</font>
                {{ else }}
                  {{ $name }} &emsp;
                {{ end }}
                <font style="font-size: small; color: gray; font-style: italic;">
                {{ $taxonomy.Count }} articles
                </font>
              </a>
            </li> 
          {{ end }}
        {{ end }}
        </ul>
      </div>

    </div>

    <div id="div-posts" class="col-lg-8 col-md-12 col-sm-12 col-xs-12">

      <div class="list-div">

        <h2>All posts</h2>

        {{ range .Pages }}

          <table>

            <tr>

              <td style="white-space: nowrap; width: 100px; color: gray; font-size: smaller;">
                  {{ dateFormat "Jan 2, 2006" .Date }} 
              </td>

              <td id="all-posts-titles">
                 <a href="{{.Permalink}}"> 
                   {{ if intersect .Params.categories (slice "scratchpad") }} 
                     <font style="color: gray;">{{ .Title }}</font>
                   {{ else }} 
                     {{ .Title }} 
                   {{ end }}
                 </a>
              </td>

              {{ $l_cat := len .Params.categories }}
              {{ $l_cat := sub $l_cat 1 }}

              <td class="d-none d-lg-block d-xl-block" style="color: gray; font-size: small;">
                {{ range $index, $category := .Params.categories }}
                  <a id="all-posts-cats" href="{{ "categories/" | absLangURL }}{{ . | urlize }}">
                    {{ $category }}
                  </a>
                {{ if not (eq $index $l_cat)}},{{ end }} {{ end }}

              </td>

            </tr>

          </table>

        {{end}}

      </div>

    </div>

  </div>

</div>

{{ partial "footer.html" . }}
