{{ partial "head.html" . }}
{{ partial "header.html" . }}

<nav id="toc" data-toggle="toc" class="sticky-top d-none d-xl-block"></nav>

<div class="list-div">
  <div class="article-title">
    <object type="image/svg+xml" data="/folder.svg" height="30px" width="30px">.</object> 
    {{ .Title }}
  </div>

  <!-- TODO do this with css -->
  <br>
  <br>

  <center>
  {{ range (.Data.Pages.GroupByDate "2006") }}
  <h3 style="text-shadow: -1px 0 #3090c7, 0 1px #3090c7, 1px 0 #3090c7, 0 -1px #3090c7; color: white; font-family: 'Fascinate', cursive;">{{ .Key }}</h3>

    {{ range .Pages }}
      <table>
        <tr>
          <td style="white-space: nowrap; width: 100px; color: gray; font-size: smaller;">
            {{ dateFormat "Jan 2, 2006" .Date }} 
          </td>
          <td id="list-titles">
            <a href="{{.Permalink}}"> 
              {{.Title}} 
            </a>
          </td>
          <td class="d-none d-lg-block d-xl-block" style="color: gray; font-size: small;">
            {{ .ReadingTime }}
            {{ if eq .ReadingTime 1 }} 
              minute 
            {{ else }} 
              minutes 
            {{ end }} 
            read
          </td>
        </tr>
      </table>
    {{end}}
    <!-- TODO do this with css -->
    <br>
    <br>
  {{end}}
  </center>
</div>

{{ partial "footer.html" . }}
