{% extends "blog/base.html" %}
{% load static %}

{% block content %}

<nav id="toc" data-toggle="toc" class="sticky-top d-none d-xl-block"></nav>

<div class="article">

<div class="article-categories">
    {% for category in categories_specific %}
    <object style="vertical-align:middle" type="image/svg+xml" data="{% static "/folder.svg" %}" height="15px" width="15px"></object>
    <a href="{{ category.category_slug.get_absolute_url }}" role="button">{{ category.category_slug.category_name }}</a>
        &nbsp; &nbsp;
    {% endfor %}
    <br>
</div>
<div class="article-title">
  <!-- TODO https://codepen.io/zitrusfrisch/pen/fjbal -->
  {{ post.title }}

</div>
<div class="article-info">
    {{ post.format_date }} &emsp;  &emsp;
    {{ post.read_time }} {% if post.read_time == 1 %} minute {% else %} minutes {% endif %} read
</div>

{{ post.body|safe }}

</div>

{% endblock %}
