<!-- NAVBAR -->
<nav id="navbar" class="navbar navbar-expand-md fixed-top navbar-hide transition">

    <!-- empty link for "Menu" on the right side -->
    <a class="navbar-brand"></a>

    <button class="navbar-toggler float-xs-right" data-toggle="collapse" data-target="#collapsibleNavbar">
        Menu
    </button>

    <div class="collapse navbar-collapse" id="collapsibleNavbar">

        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
            </li>
            {% for category in categories %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown">{{ category.category_name }}</a>
                    <div class="dropdown-menu scrollable-menu">
                        {% for category_post in category_posts %}
                            {% if category_post.category_slug == category %}
                                <a class="dropdown-item" href="{{ category_post.post_slug.get_absolute_url }}">{{ category_post.post_slug.title }}</a>
                            {% endif %}
                        {% endfor %}
                    </div>
                </li>
            {% endfor %}
        </ul>

    </div>

</nav>



<!-- HEADING -->
<div class="jumbotron text-center" id="header">

    <div id="header-title">
        <a href="/">tomis9's cookbook</a>
    </div>

    <p style="color: white;">data science tutorials and snippets prepared by tomis9</p>

</div>
